/* Image Captions */
img + em {
    display: block; 
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;   
}

/* Image center align */
img {
    display: block; 
    margin-left: auto;
    margin-right: auto;   
}